html {
    font-family: Arial, sans-serif;
}
body {
    padding: 0 20px;
}
h1,h2,h3 {
    color: #555;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
